.body-text{
    font-size: 34px;
    font-weight: 400;
    color: #222222;
}
.body-text-1{
    font-size: 34px;
    font-weight: 400;
    color: #222222;
    margin-top: -41px;
}
.body-tital{
    margin-top: 211px;
    text-align: center;
}
.border{
    border: 1px solid black;
    border-width: 3px;
    border-color: #c4975e;
    height: -13px;
    width: 64px;
    margin-left: 642px;
    margin-top: -6px;
}
.body-subtital{
    font-weight: 500;
    color: #94959b;
    font-size: 12px;
    margin-top: 44px;
    text-align: center;
 
}
.body-subtital-1{
    font-weight: 500;
}
.body-subtital-2{
    font-weight: 500;
}